{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.3"}
  clojure.java-time/clojure.java-time {:mvn/version "0.3.2"}}
 
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                       :sha "9e35c979860c75555adaff7600070c60004a0f44"}}
         :main-opts ["-m" "cognitect.test-runner"]}
  :test-refresh {:extra-paths ["test"]
                 :extra-deps {com.jakemccrary/test-refresh
                              ;; {:mvn/version "0.25.0"}
                              {:local/root "../test-refresh"}}
                 :main-opts ["-m" "com.jakemccrary.test-refresh"]}}}
